@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#header1-1 P {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#msg-box1-14 .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 32px;
}
#msg-box1-14 .mbr-article {
  color: #fff;
}
#msg-box1-14 .mbr-header .mbr-header__text DIV {
  font-size: 32px;
  color: #ffffff;
}
#msg-box2-27 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-27 .mbr-article {
  color: #252525;
}
#msg-box1-25 .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 36px;
}
#msg-box1-25 .mbr-article {
  color: #fff;
}
#msg-box1-17 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-17 .mbr-article {
  color: #fff;
}
#msg-box1-12 .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 36px;
  text-align: left;
}
#msg-box1-12 .mbr-article {
  color: #fff;
}
#msg-box2-20 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-20 .mbr-article {
  color: #252525;
}
#msg-box2-19 .mbr-header .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#msg-box2-19 .mbr-article {
  color: #252525;
}
#msg-box2-22 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-22 .mbr-article {
  color: #252525;
}
#msg-box1-21 .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 36px;
}
#msg-box1-21 .mbr-article {
  color: #fff;
}
#msg-box1-21 .mbr-header .mbr-header__text DIV {
  font-size: 36px;
}
#msg-box2-24 .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-24 .mbr-article {
  color: #252525;
}
#content4-23 P {
  text-align: center;
}
#contacts1-33 P {
  font-size: 13px;
}
